body {
  width: 100vw;
}

p {
  font-size: 1.3em;
}

#img-background {
   /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  /*width: 100%;*/
  width:100vw;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -1;
}

#view {
  color: 	#F5FFFA;
}

#view a{
  color: white;
  text-decoration: none;
  transition:all linear 0.2s;
}

#view a:hover {
  color: pink;
  text-decoration: none;
}

.center {
  margin: 0 auto;
}

.clear-fifteen {
  margin-bottom: 15px;
}

.clear-thirty {
  margin-bottom: 30px;
}

.clear-thirtyfive {
  margin-bottom: 35px;
}

.eighty {
  width: 80%;
}

.filter-list {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  cursor: pointer;
  transition:all linear 0.2s;
}

.filter-list-selected, .filter-list:hover {
  font-weight: bold;
  color: pink;
}

.font-fourtyfive {
  font-size: 45px;
}

.font-thirty {
  font-size: 30px;
}

.font-twenty {
  font-size: 20px;
}

.hidden {
  display: none;
}

.hundred {
  width: 100%;
}

.link-menu {
  font-size: 2em;
  font-weight: bold;
  color: #F5FFFA;
  /*margin-right: 20px;*/
  transition:all linear 0.2s;
  background: transparent;
  text-decoration: none;
}

.link-menu:hover {
  color: pink;
  text-decoration: none;
}


.link-menu-selected {
  color: pink !important;
  text-decoration: underline !important;
}

.logo-main {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-buffer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  color: black;
}

.sixty {
  width: 60%;
}

.tag-item-gallery {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .70);
  color: black;
  text-align: center;
  font-weight: bold;
}

.text-center {
  text-align: center;
}


/**** Responsive Styles ****/

/* Small Desktop to Phone */
@media all and (max-width: 980px) {
  .container-filters {
    text-align: center;
    margin-bottom: 30px;
  }
}

/* Tablet to Phone */
@media all AND (max-width: 768) {
  
}



/**** Special Styles ****/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}