<!--<h1 class="clear-thirty">Products</h1>-->

<div class="col-md-2 col-sm-12 col-xs-12 container-filters">
    <label>Search</label><br><input class="search" type="text" ng-model="productSearch.$"><br><br>
    <label>Tags</label><br>
    <checkbox-filter values="tagCounts" filtered="tagFilters"></checkbox-filter><br>
    <label>Categories</label><br>
    <checkbox-filter values="categoryCounts" filtered="categoryFilters"></checkbox-filter>
    
    
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
    <div class="col-md-6 clear-thirty" ng-repeat="galleryItem in galleryItems | filter:productSearch | filter:filterTags | filter:filterCategories">
        <gallery-item item="galleryItem"></gallery-item>
    </div>
</div>